body {
    width: 100%;
    margin: 0 auto;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

header {
    display: flex;
    height: 200px;
    align-items: center;
    justify-content: space-around;
}

nav ul li {
    display: inline-block;
    padding-right: 80px
}

nav img {
    width: 1.1em;
    margin-right: 6px;
}

.phone {
    border: 1px solid black;
    border-radius: 8px;
    padding: 10px;
    font-size: 1.1em;
}

nav a {
    text-decoration: none;
    color: black;
}

.active {
    color: #81127A;
}

.logoHeader {
    width: 6em;
    height: 8em;
    object-fit: contain;
}

#introduction {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
}

#atencion {
    width: 28em;
}

#atencion h2 {
    font-size: 2.5em;
    color: #81127A;
    font-weight: lighter;
}

#atencion p {
    color: #615D5D;
    font-weight: bold;
    line-height: 1.5em;
    padding-bottom: 20px;
    font-size: 1.2em;
}

#atencion a {
    text-decoration: none;
    color: white;
    background-color: #81127A;
    border-radius: 30px;
    padding: 1.1em;
    font-size: 1.2em;
}

#ilustracion img {
    width: 35em;
}

#servicesIntro {
    margin-top: 7em;
    margin-bottom: 15em;
}

#servicesIntro h2 {
    text-align: center;
    font-size: 2.8em;
    font-weight: lighter;
}

#servicesIntro h2::after {
    content: '';
    display: block;
    width: 220px;
    border-radius: 90px;
    height: 4px;
    background-color: #81127A;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

#services {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 5em;
    justify-content: space-evenly;
}

.servicio {
    width: 250px;
    background-color: #ECECEC;
    border-radius: 10px;
    height: 400px;
}

.servicio img {
    width: 251px;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
    height: 400px;
}

.servicio h4 {
    text-align: center;
}

.servicio h4,
p {
    padding: 15px;
    line-height: 1.4em;
}

.servicio span {
    font-weight: bold;
}

#funcionamos {
    margin-top: 20em;
    margin-bottom: 15em;
}

#funcionamos h2 {
    text-align: center;
    font-size: 2.8em;
    font-weight: lighter;
}

#funcionamos h2::after {
    content: '';
    display: block;
    width: 220px;
    border-radius: 90px;
    height: 4px;
    background-color: #81127A;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

#proceso{
    margin-top: 6em;
    display: flex;
    justify-content: center;
}

.func{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.func img{
    width: 5em;
    border: 4px solid #81127A;
    border-radius: 50%;
    padding: 1.4em;
}

.func p{
    font-weight: bolder;
}

.flecha img{
    width: 5em;
    padding-top: 20px;
}

footer {
    width: 100%;
    margin: 0 auto;
    background-color: #81127A;
    margin-top: 15em;
    display: flex;
    justify-content: space-around;
    padding-top: 4em;
    padding-bottom: 4em;
}

footer div {
    display: flex;
    flex-direction: column;
}

#siguenos {
    gap: 2em;
}

#utils {
    gap: 2em;
}


#contact p::after {
    content: '';
    display: block;
    width: 400px;
    border-radius: 90px;
    height: 1px;
    background-color: #ffffff;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

footer div {
    color: white;
}

footer div h4 {
    font-size: larger;
}

footer div a {
    text-decoration: none;
    color: white;
}

#contact span {
    font-weight: bold;
    padding-left: 1em;
}