body {
    width: 100%;
    margin: 0 auto;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

header {
    display: flex;
    height: 200px;
    align-items: center;
    justify-content: space-around;
}

nav ul li {
    display: inline-block;
    padding-right: 80px
}

nav img {
    width: 1.1em;
    margin-right: 6px;
}

.phone {
    border: 1px solid black;
    border-radius: 8px;
    padding: 10px;
    font-size: 1.1em;
}

nav a {
    text-decoration: none;
    color: black;
}

.active {
    color: #81127A;
}

.logoHeader {
    width: 6em;
    height: 8em;
    object-fit: contain;
}

#introduction {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
}

#atencion {
    width: 28em;
}

#atencion h2 {
    font-size: 2.5em;
    color: #81127A;
    font-weight: lighter;
}

#atencion p {
    color: #615D5D;
    font-weight: bold;
    line-height: 1.5em;
    padding-bottom: 20px;
    font-size: 1.2em;
}

#atencion a {
    text-decoration: none;
    color: white;
    background-color: #81127A;
    border-radius: 20px;
    padding: 1.1em;
    font-size: 1.2em;
}

#atencion a:hover {
    width: 6em;
    height: 1.2em;
    text-align: center;
    font-weight: bold;
}

#ilustracion img {
    width: 35em;
}

#servicesIntro {
    margin-top: 7em;
    margin-bottom: 15em;
}

#servicesIntro h2 {
    text-align: center;
    font-size: 2.8em;
    font-weight: lighter;
}

#servicesIntro h2::after {
    content: '';
    display: block;
    width: 220px;
    border-radius: 90px;
    height: 4px;
    background-color: #81127A;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

#services {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 5em;
    justify-content: space-evenly;
}

.servicio {
    width: 250px;
    background-color: #ECECEC;
    border-radius: 10px;
    height: 400px;
}

.servicio img {
    width: 251px;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
    height: 400px;
}

.servicio h4 {
    text-align: center;
}

.servicio h4,
p {
    padding: 15px;
    line-height: 1.4em;
}

.servicio span {
    font-weight: bold;
}

#funcionamos {
    margin-top: 20em;
    margin-bottom: 15em;
}

#funcionamos h2 {
    text-align: center;
    font-size: 2.8em;
    font-weight: lighter;
}

#funcionamos h2::after {
    content: '';
    display: block;
    width: 220px;
    border-radius: 90px;
    height: 4px;
    background-color: #81127A;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

#proceso {
    margin-top: 6em;
    display: flex;
    justify-content: center;
}

.func {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.func img {
    width: 5em;
    border: 4px solid #81127A;
    border-radius: 50%;
    padding: 1.4em;
}

.func p {
    font-weight: bolder;
}

.flecha img {
    width: 5em;
    padding-top: 20px;
}

#formIndex {
    background-color: #81127a70;
    height: 750px;
    padding-top: 2em;
}

.encabezadoSection {
    text-align: center;
    font-size: 2.8em;
    font-weight: lighter;
}

.encabezadoSection::after {
    content: '';
    display: block;
    width: 220px;
    border-radius: 90px;
    height: 4px;
    background-color: #ffffff;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

#forms {
    display: flex;
    justify-content: center;
    gap: 3em;
}

#forms div {
    background-color: #ECECEC;
    border-radius: 10px;
    padding: 15px;
}

#formIndex form {
    display: flex;
    flex-direction: column;
}

#formIndex form h2 {
    font-weight: lighter;
}

#formIndex form input {
    border-radius: 5px;
    border: 1px solid black;
    padding: 10px;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

#formIndex form select {
    border-radius: 5px;
    padding: 10px;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

#forms form h2 {
    font-size: 2em;
}

#botonForm {
    border-radius: 5px;
    background-color: #81127A;
    color: white;
    font-weight: bold;
    height: 2.8em;
    border: none;
}

#botonForm:hover {
    color: #81127A;
    background-color: white;
}

#llamanos h2 {
    font-weight: lighter;
}

#llamanos h2::after {
    content: '';
    display: block;
    width: 100%;
    border-radius: 90px;
    height: 1px;
    background-color: #868383;
    margin-top: 30px;
}

#llamanos ul li {
    list-style-type: circle;
}

#llamanos {
    height: 18em;
}

#llamanos h2 {
    font-size: 2em;
    text-align: center;
}


footer {
    width: 100%;
    margin: 0 auto;
    background-color: #81127A;

    display: flex;
    justify-content: space-around;
    padding-top: 4em;
    padding-bottom: 4em;
}

footer div {
    display: flex;
    flex-direction: column;
}

#siguenos {
    gap: 2em;
}

#utils {
    gap: 2em;
}


#contact p::after {
    content: '';
    display: block;
    width: 400px;
    border-radius: 90px;
    height: 1px;
    background-color: #ffffff;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

#qSomos {
    display: flex;
    width: 80%;
    margin: 0 auto;
    gap: 10em;
    margin-bottom: 5em;
}

#textoSomos {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    padding-top: 10em;
}

#textoSomos span {
    color: #81127A;
    font-weight: bold;
}

#textoSomos img {
    width: 5em;
}

#textoSomos h2 {
    font-size: 2.8em;
    font-weight: lighter;
}

#textoSomos p {
    line-height: 2.5em;
}

#textoSomos h2::after {
    content: '';
    display: block;
    width: 220px;
    border-radius: 90px;
    height: 4px;
    background-color: #81127A;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

#san {
    width: 35em;
    border-top-left-radius: 550px;
    border-top-right-radius: 550px;

}

#elegir {
    margin-top: 5em;
    margin-bottom: 7em;
    background-color: #ECECEC;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#elegir h2 {
    font-size: 2.8em;
    font-weight: lighter;
}

#elegir h2::after {
    content: '';
    display: block;
    width: 220px;
    border-radius: 90px;
    height: 4px;
    background-color: #81127A;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

#elegir p {
    padding: 3em;
    font-size: 1.3em;
    line-height: 2.5em;
}

#elegir a {
    text-decoration: none;
    color: white;
    background-color: #81127A;
    border-radius: 20px;
    padding: 1.1em;
    font-size: 1.2em;
    margin-bottom: 3em;
}

#elegir a:hover {
    width: 6em;
    height: 1.2em;
    text-align: center;
    font-weight: bold;
}

#introServ{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
}

#imgServ img{
    width: 35em;
}

#sCuidados{
    width: 28em;
}

#sCuidados h2{
    font-size: 2.5em;
    color: #81127A;
    font-weight: lighter;
}

#sCuidados p{
    color: #615D5D;
    font-weight: bold;
    line-height: 1.5em;
    padding-bottom: 20px;
    font-size: 1.2em;
}

#sCuidados a{
    text-decoration: none;
    color: white;
    background-color: #81127A;
    border-radius: 20px;
    padding: 1.1em;
    font-size: 1.2em;
}

#sCuidados a:hover{
    width: 6em;
    height: 1.2em;
    text-align: center;
    font-weight: bold;
}




footer div {
    color: white;
}

footer div h4 {
    font-size: larger;
}

footer div a {
    text-decoration: none;
    color: white;
}

#contact span {
    font-weight: bold;
    padding-left: 1em;
}