#Ejercicio1 h1 {
    color: rgb(45, 216, 45);
}

#lista span{
    text-decoration: underline;
}

#consejo span{
    font-weight: bold;
}

#Ejercicio2 img{
    width: 150px;
}

#Ejercicio2 table tr td{
    border: 1px black solid;
}

#Ejercicio2 table{
    border: 1px solid black;
}

#Ejercicio3{
    border: 1px solid black;
    padding: 20px;
}

#Ejercicio3 section{
    text-align: center;
}

#Ejercicio3 form{
    text-align: center;
    line-height: 30px;
}

#Ejercicio3 form button{
    margin-top: 20px;
}

#Ejercicio4{
    border: 1px solid black;
    padding: 20px;
}

#Ejercicio4 h1{
    text-align: center;
}

#terminos{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    line-height: 30px;
}

#box{
    display: flex;
    margin-top: 20px;
    gap: 20px;
}

